
/*Arabia Simeon
  Personal website
  Summer 2019
  Contact page css */
  .icons{
    text-align: center;
  }
  .fa {
    padding: 55px;
    font-size: 50px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.3;
  }

  .fa-google {
    background: silver;
    color: black;
  }
  .fa-linkedin {
    background: silver;
    color: black;
  }
  .fa-instagram {
    background: silver;
    color: black;
  }
  .fa-vimeo {
    background: silver;
    color: black;
  }
